.container {
  padding: 50px 30px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  background-image:linear-gradient(rgb(153, 206, 234),white,rgb(153, 206, 234));
  min-height: 85vh;
  
}

.pt{
  font-size: 20px;
}

.heading {
  margin: 0 auto;
  max-width: 500px;
  color: #000;
  font-size: 3.1rem;
  line-height: 4.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 10px;
}

.heading span {
  background-clip: text;
  background-image: linear-gradient(to right, #239ce2, #1369b9);
  color: transparent;
}

.right img {
  width: 600px;

  border-radius: 100px;
  box-shadow:10px 10px 10px 10px #5dc1e6;
  margin-right: 40px;
  margin-bottom: 50px;
}
